nav a{
    color: black;
}
.skip{
    position: absolute;
    top: -40px;
}
.skip:focus {
    position: absolute;
    top: 20px;
}
/* Colorway Gold, Steel, Creme White, Black */
/* Current involvements, past involvements, skills */
body {
    background-color: #F5F5F4;
}

.gallery{
    display: grid;
    margin:auto;
    background-color:#D6AD60;
    width: 100%;
    justify-content: space-around;
    justify-items: stretch;
    grid-template-columns: 85%;
    align-items: center;
    gap: 10px;

}
.gallery img{
    width:100%;
    border: 4px solid rgb(113, 121, 126);
}
.control{
    background-color: #D6AD60;
}
.control li{
    padding:2px;
    display: inline-block;
    text-align: center;
}
.active{
    background-color: rgb(113, 121, 126);
}
h1{
    text-align: center;
    font-size:xx-large;
}
h2{
    text-align: center;
    font-size:large;
}
.soloshot{
    width: 100%;
}